SELECT TOP 1000 * FROM [CRM].[dbo].[user]

SELECT TOP 1000 * FROM [CRM].[dbo].[ani]

SELECT TOP 1000 * FROM [CRM].[dbo].[product_user]

SELECT TOP 1000 * FROM [CRM].[dbo].[state_current]

SELECT TOP 1000 * FROM [CRM].[dbo].[state_log]